<div class="row">
  <div class="col-sm-12">
    <div class="job-list">

      <table class="jobs-table">
        <thead class="table-header">
          <tr>
            <th>Job#</th>
            <th>Doc#</th>
            <th>Borough</th>
            <th>House#</th>
          </tr>
        </thead>

        <tbody>
          <tr data-repeat="data">
            <td>{job__}</td>
            <td>{doc__}</td>
            <td>{borough}</td>
            <td>{house}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
