<div class="col-sm-4">
  <div class="details">
    <a href="javascript:void(0)" class="close warning" onClick="[closeDetails]"><span class="glyphicon glyphicon-remove"></span></a>
    <h5 class="heading">Job Details</h5>
    <div class="details-row"><strong>Job#:</strong>{job__}</div>
    <div class="details-row"><strong>Doc#:</strong>{doc__}</div>
    <div class="details-row"><strong>Borough:</strong>{borough}</div>
    <div class="details-row"><strong>House:</strong>{house__}</div>
    <div class="details-row"><strong>Streen Name:</strong>{street_name}</div>
    <div class="details-row"><strong>Block:</strong>{block}</div>
    <div class="details-row"><strong>Lot:</strong>{lot}</div>
    <div class="details-row"><strong>License:</strong>{applicant_license__}</div>
    <div class="details-row"><strong>Applicant Title:</strong>{applicant_professional_title}</div>
    <div class="details-row"><strong>First Name:</strong>{applicant_s_first_name}</div>
    <div class="details-row"><strong>Last Name	:</strong>{applicant_s_last_name}</div>
    <div class="details-row"><strong>Lot:</strong>{assigned}</div>
    <div class="details-row"><strong>Bin#:</strong>{bin__}</div>
    <div class="details-row"><strong>Boiler:</strong>{boiler}</div>
    <div class="details-row"><strong>Building Type:</strong>{building_type}</div>
    <div class="details-row"><strong>City:</strong>{city_}</div>
    <div class="details-row"><strong>City Owned:</strong>{city_owned}</div>
    <div class="details-row"><strong>Community Board:</strong>{community___board}</div>
  </div>
</div>
